.starter {
  font-size: 18px;
}

body {
  margin: 50px;
}

#outlined-basic {
  height: 20px;
  width: 600px;
  font-family: "MontserratLight", sans-serif;
  size: 16px;
}

.home__result__text {
  width: 1260px;
  border-bottom: 1px solid $colorLightGray;
  font-family: "MontserratLight", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.alert-message {
  margin-top: 50px;
}